body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  user-select: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: lightgray;
  padding: 10px;
}

.svg__container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer {
  background-color: lightgrey;
  padding: 8px;
  width: 100%;
  text-align: center;
}

text:hover {
  background-color: aqua;
  display: inline-block;
}

.svg__content {
  width: 100%;
  height: 100%;
}

.svg__content text {
  background: red;
}
