body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  user-select: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: lightgray;
  display: flex;
  padding: 5px;
}

.user {
  margin-right: 5px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 5px;
}

.svg__container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.svg__content {
  width: 95%;
  height: 95%;
}
