body {
  margin: 0;
  /* デフォルトのマージンを削除して余白をなくす */
  padding: 0;
  /* デフォルトのパディングを削除して余白をなくす */
  background-color: aliceblue;
  user-select: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* ビューポートの高さに対して最低の高さを100vhに設定 */
}

.header {
  background-color: lightgray;
  padding: 10px;
}

.svg__container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer {
  background-color: lightgrey;
  padding: 8px;
  width: 100%;
  text-align: center;
}

/* App.jsx */
.svg__content {
  width: 100%;
  /* 幅を100%に設定 */
  height: 100%;
  /* 高さを100%に設定 */
}
